modules:
  http_check:
    prober: http
    timeout: 5s
    http:
      valid_status_codes: [] # par defaut, 2XX
      method: GET
      preferred_ip_protocol: ip4
      # fail_if_body_matches_regexp:
      #   - "Body matches regexp"
      # fail_if_body_not_matches_regexp:
      #   - "Body not matches regexp"
  http_401_check:
    prober: http
    timeout: 5s
    http:
      valid_status_codes: [401]
      method: GET
      preferred_ip_protocol: ip4
  imap_starttls:
    prober: tcp
    timeout: 5s
    tcp:
      query_response:
        - expect: "OK.*STARTTLS"
        - send: ". STARTTLS"
        - expect: "OK"
        - starttls: true
        - send: ". capability"
        - expect: "CAPABILITY IMAP4rev1"
  smtp_starttls:
    prober: tcp
    timeout: 5s
    tcp:
      query_response:
        - expect: "^220 ([^ ]+) ESMTP (.+)$"
        - send: "EHLO prober\r"
        - expect: "^250-STARTTLS"
        - send: "STARTTLS\r"
        - expect: "^220"
        - starttls: true
        - send: "EHLO prober\r"
        - expect: "^250-AUTH"
        - send: "QUIT\r"
  icmp_check:
    prober: icmp
    timeout: 5s
    icmp:
      preferred_ip_protocol: ip4
  dns_check_soa:
    prober: dns
    timeout: 5s
    dns:
      preferred_ip_protocol: ip4
      query_name: "bracloud.services"
      query_type: "SOA"
